@import "src/assets/mixin/media";
@import "src/assets/variables/colors";

.newPassword {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include screen576 {
    width: 100%;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;

  @include screen576 {
    padding: 0 10px;
  }
}

.signIn {
  position: absolute;
  right: 10px;
  top: 65%;
  text-decoration: none;
  color: $lightGreen;
}