$black: #000000;
$blackGrey: #cdcdcd;
$BlackCream: #cfc69e;
$yellow: #ffd874;
$cream: #f4d089;
$lowYellow: #ffe794;
$lightCream: #ffe1bd;
$modalCream: #ffd7a7;
$transparentGrey: #353535;
$transparentCream: #f8ca94;
$white: #eeeeee;
$orange: #faa136;
$mediumOrange: #ffb760;
$lowOrange: #ffd8a9;
$lightGreen: #62d2c3;
$blue: #7e8bf9;
$red: #ff5757;
$tomato: #ff6347;
$grey: #808080;
$whiteAsideBar: #fffbef;
$green: #7FDB88;
$modalBackground:#212121;
$modalGrey: #7b7b7b;
$title: rgba($black, 0.8);
$paleCreamRgba: rgba($BlackCream, 0.7);
$blackGreyRgba: rgba($blackGrey, 0.25);
$lightCreamRgba: rgba($cream, 0.4);
$shadowBlack: rgba($black, 0.25);
$modalBackgroundRgba: rgba($modalBackground, 0.48);
$modalGreyRgba: rgba($modalGrey, 0.33);
