@import "../../../assets/variables/colors";
@import "../../../assets/mixin/media";


.invalidFeedback {
  margin: 10px 0 0 19px;
  color: $tomato;
}

span {
  font-weight: 600;
  font-size: 15px;
}

.input {
  cursor: pointer;
  width: 335px;
  height: 50px;
  padding-left: 19px;
  border: none;
  border-radius: 20px;
  outline: none;

  @include screen576 {
    width: 100%;
  }
}

.invalidEmail {
  margin-left: 19px;
  color: $tomato;
}