@import "src/assets/variables/colors";
@import "src/assets/mixin/media";

.registration {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include screen576 {
    padding: 0 10px;
  }
}

.singIn {
  margin-top: 10px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;

  a {
    color: $lightGreen;
  }
}


